.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100%;
  background-color: var(--color-grey);
  z-index: 0;
}

.contacts {
  margin: 1rem 4rem;
  padding: 0 3rem;
  width: 100%;
  position: absolute;
  right: 0;
  text-align: right;
}

.description {
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}

.title {
  line-height: 1;
  font-size: 3rem;
}

.strap {
  font-size: 2rem;
  color: var(--color-green-secondary);
  margin: 0;
}

.card {
  color: var(--color-green-primary);
  /* color: #fff; */
  padding: 1rem;
  margin: 2rem 0 0;
  text-align: left;
  text-decoration: none;
  border: 1px solid var(--color-green-primary);
  /* border-radius: 10px; */
  transition: color 0.15s ease, border-color 0.15s ease;

  background-color: var(--color-grey);
  /* box-shadow: 10px 10px 0px var(--color-green-tertiary); */
  display: flex;
  flex: 1 0 40%;
}

.border {
  border: 1px solid var(--color-green-secondary);
}

.inner {
  padding: 2rem;
}

.headshot {
  border-radius: 50%;
  border: 5px solid var(--color-green-primary);
  display: block;
  margin: -6rem auto 0;
}

.card:hover,
.card:focus,
.card:active {
  border-color: var(--color-green-secondary);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.logo {
  display: block;
  margin-left: -2rem;
}

.about {
  width: 100%;
  margin-top: 4rem;
}

.about .card {
  width: 78%;
  max-width: 78%;
  margin: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.formContacts {
  display: flex;
  justify-content: space-between;
}

.formContacts div:first-child {
  margin-right: 1rem;
}

.formContacts div {
  width: 100%;
}

/* .cardPrimary {
  background-color: var(--color-green-primary);
  color: var(--color-green-tertiary);
}

.cardTertiary {
  background-color: var(--color-green-tertiary);
  color: var(--color-green-primary);
} */

.cardHasImg {
  margin: 7rem 0 1rem;
}

.origin {
  margin-top: 3rem;
  max-width: 60%;
}

.origin h2 {
  font-size: 2.5rem;
}

.main {
  position: relative;
  z-index: 10;
  padding: 1rem 0;
  max-width: 75%;
  margin: auto;
}

@media (min-width: 1400px) {
  .grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
  }
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
  }
  .card {
    margin: 4rem 1rem 1rem;
  }
  .cardHasImg {
    margin: 7rem 1rem 1rem;
  }
  .title {
    margin: 0 0 0 -1.8rem;
  }
}
